/*Tipo de fuente de texto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/*Tamaño imagenes */
img{
    width: 100%;
    object-fit: cover;
}

/* Contenedor */
.contenedor{
    background-color: white;
    padding-bottom: 40px;
}

/* Header - Encabezado menu*/
.header{
    position: fixed;
    padding-top: 10px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border del encabezado*/
        border-style: solid;
        border-color: black;
        border-radius: 20px;
        border-width: 2px;
        background-color: white;
}

/* Logo */
.logo{
    width: 50px;
}

/* imagen del icono menu*/
.menu{
    width: 30px;
}
@media (min-width: 768px) {
    .menu{display: nome;}
}

/* Boton el icono menu*/
.menu:hover{
    cursor: pointer;
}

/* Opciones en el encabezado */
.navegacion{
    display: none;
}
@media(min-width: 768px){
    .menu{
        display: flex;
    }
}

/* Navegacion */
.navegacion{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

@media (min-width:768px){
    .navegacion{
        gap: 30px;
    }
}

@media (min-width:992px){
    .navegacion{
        gap: 50px;
    }
}

.navegacion a{
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 15px;
}

/* Navegacion - cambien de color */
.navegacion a:hover{
    color: black;
}

/* Navegacion - Boton de ingreso*/
.navegacion li:last-child{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navegacion li:last-child{
    font-weight: 700;
}

.navegacion li:last-child a:last-child{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid orange;
}

.navegacion li:last-child a:last-child:hover{
    background-color: white;
    color: orange;
}

/* Mensaje */
.Mensaje{
    color: rgb(251, 246, 246);
    background-color: blue;
}

/* Titulo de las Promociones*/
.TituloPromociones{

}



.Promocion1{
    height: 100px;
    width: 30%; /*ancho*/
    margin-inline: auto;
    background-color: white;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Promocion2{
    height: 100px;
    width: 30%; /*ancho*/
    margin-inline: auto;
    background-color: white;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.Promocion3{
    height: 100px;
    width: 30%; /*ancho*/
    margin-inline: auto;
    background-color: white;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: left;
}
